.header {
  padding: 22px 0;
  position: relative;

  &__container {
    display: flex;
    align-items: center;
  }

  &__hamburger {
    display: none;
    width: 20px;
    height: 16px;
    background-image: url(../../images/hamburger.png);
    background-repeat: no-repeat;
    background-size: 20px 16px;
    background-position: center;
    transition: all 0.4s;
  }

  .site-logo {
    margin-right: 58px;
  }
}


@media only screen and (max-width: 768px){
  .header {

    &__container {
      justify-content: space-between;
    }

    &__hamburger {
      display: inline-block;
    }

    .site-logo {
      margin-right: 0;
    }

    .header--open &__hamburger {
      background-image: url(../../images/hamburger-x.png);
      background-size: 18px 18px;

    }
  }
}