.sitenav {
  display: flex;
  align-items: center;
  width: 100%;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item + &__item {
    margin-left: 32px;
  }

  &__link {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
    text-decoration: none;
    transition: all 0.4s;

    &:hover {
      color: #FCB72B;
    }

    &:active {
      opacity: 0.8;
    }
    
  }

  &__btn {
    margin-left: auto;
  }
}


@media only screen and (max-width: 768px){
  .sitenav {
    display: none;
  }

  .header--open .sitenav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 100%;
    left: 0;
    right: 32%;
    width: 68%;
    height: 90vh;
    padding: 64px 32px 24px 32px;
    background-color: #333A44;

    &__list {
      flex-direction: column;
    }

    &__item {
      margin-left: 0;
      margin-bottom: 24px;
    }

    &__item + &__item {
      margin-left: 0;
      margin-top: 24px;
    }

    &__link {
      font-size: 18px;
      line-height: 25px;
      color: #E5ECF4;
    }

    &__btn {
      margin-left: 0;
      margin-top: auto;
      width: 100%;
    }
    
  }
}
